.topNav,
.botNav {
  position: fixed;
  right: var(--spacing-country);
  left: var(--spacing-country);

  display: flex;

  z-index: var(--z-index-toast);

  pointer-events: none;
}

.topNav {
  top: var(--spacing-country);

  justify-content: space-between;
}

.botNav {
  bottom: var(--spacing-country);

  align-items: center;
  justify-content: center;
  gap: var(--spacing-street);
}

.link {
  display: inline-flex;

  width: fit-content;
  height: fit-content;

  pointer-events: auto;
}

.icon {
  width: 16px;
  height: 16px;
}

// .toggles {
//   display: flex;
//   align-items: center;
//   gap: var(--spacing-street);
// }

.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: auto;
}

.settingsContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

@media (max-width: 768px) {
  .topNav,
  .botNav {
    right: var(--spacing-city);
    left: var(--spacing-city);
  }

  .topNav {
    top: var(--spacing-city);
  }

  .botNav {
    bottom: var(--spacing-city);
  }
}
