@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .canvas-item {
      @apply text-ui;
  }

  .canvas-item-transition {
      transition: transform 0.3s ease-out;
  }
}
