.card {
  width: 100%;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
}

.viewBtn {
  --offset: var(--spacing-room);

  position: absolute;
  right: var(--offset);
  top: var(--offset);

  padding: var(--spacing-room) var(--spacing-house);

  color: var(--color-white);

  line-height: var(--line-height-tight);
  pointer-events: auto;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);

  &:hover {
    color: var(--color-accent);
  }
}

.title {
  position: absolute;
  margin-top: var(--spacing-room);

  hyphens: auto;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .viewBtn {
    --offset: var(--spacing-dot);

    right: var(--offset);
    top: var(--offset);
  }

  .title {
    margin-top: var(--spacing-dot);
  }
}
