@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-medium
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-mono);
  font-size: 14px
}

@layer components {
  .text-secondary {
    @apply text-gray-600 hover:text-red-800
  }
}

